/* FILE: brand-logo.styl
 * ---------------------
 * Basic styling on brand logo and its replacement
 * text.
 */

.brand-logo
	.brand-logo-replacement
		font-family $font--sans-serif
		letter-spacing 2px
		text-transform uppercase