@import 'variables'
@import 'helpers'


#footer
	background $gray-warm
	border-bottom 4px solid $gray-dark
	padding 40px 1em 30px

	iframe
		background transparent

	.nav
		font-size 12px

		.shop-footer-logo
			.milleporte-logo
				width 155px
				height auto
				margin-bottom 15px
			img
				display block

		h2
			color $gray-dark
			margin-bottom 1em
		a
			color #666
			text-decoration none
			transition all 0.3s ease-in-out

			&:hover
				color $gray-dark
				text-decoration underline

	.copyright
		font-size 0.8em

	.ssl-seal
		#comodoTL
			padding-left 0