@import 'variables'
@import 'ie7-8'


th > span
td > span
	white-space nowrap


#footer
	margin-bottom -1px // Fix that stupid white border bug


.modal-open #page
	position static // Disable stacking context


// .inline-block fallbacks
.action
.help
.control-group-actions
.sale-list li
.checkout-steps li
.address-actions li
	display inline


.action.addtobag
input.action
	padding-left 5px
	padding-right 5px


.section-title
	line-height 1.5em


#header > .general-wrap
	z-index 210


.category-filter
	li
	.sub a
	.sub ul
	.sub .flat > li
		display inline


#shoppingform
	.variant
	.quantity
		margin-bottom 1em




.order-infos
	dt
		width 150px
	dd
		width 535px




