@charset "UTF-8";
/* CSS Document */

.page-aboutpaidy .image-header{
	background-image:url(../../images/paidy/welcome-banner.jpg);
	padding:5.5em 1em 3em 1em;
}
.border-box-text .headline{
	letter-spacing:normal;
	line-height:1.5em;
}
.border-box-text .headline strong{
	font-size:1.8em;
	display:block;
	font-weight:normal;
	margin-bottom:0.8em;
	line-height:1.5em;
}
.page-aboutpaidy .image-header .open-editorials{
	margin-top: 3em;
}
.border-box-text{
	border:none;
}
#main .banner-block{
	cursor:auto;
}
#main h1 span{
	text-transform:none;
}
#main h3.content--tier-2{
	font-size:24px;
}
#main section.pure-u-1{
	 letter-spacing:-.40em;
}
#main figure.pure-u strong{
	display:block;
	position:relative;
	width:108px;
}
#main figure.pure-u span{
	width:108px;
	text-align:center;
	position:absolute;
	top:45px;
	left:0;
    font-family:"DINPro","Open Sans","Avenir","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","MS UI Gothic","MS PGothic",Arial,sans-serif;
	color:#61b4e4;
	font-size:24px;
	font-weight:normal;
}

@media only screen and (max-width: 568px) {
#main figure.pure-u strong{
	margin:0 auto;
	width:auto;
	text-align:center;
	margin-bottom:10px;
}
#main figure.pure-u span{
	position:static;
	width:auto;
}
#main figure.pure-u strong img{
	display:none;
}
#main h3.content--tier-2{
	font-size:18px;
}
#main h3.content--tier-2 br{
	display:none;
}
}