<section class="status-message-box no-returnable-items">
	<div>
		<picture>
			<source media="(min-width: 378px)" sizes="(min-width: 378px)"
				srcset="/static/images/returns/no-item.png, /static/images/returns/no-item@2x.png 2x" />
			<img alt="Loading" class="responsive-img"
				src="/static/images/returns/no-item.png"
				srcset="/static/images/returns/no-item.png, /static/images/returns/no-item@2x.png 2x"/>
		</picture>
	</div>
	<h4 class="h4 pad-b--small">現在、返品可能な商品はございません。</h4>
	<p>商品発送から8日以内の商品が返品の対象になります。<br/>お問い合わせは<a href="mailto:support@milleporte.com">メンバー・サービス・デスク</a>にご連絡下さい。</p>
</section>