/* FILE: grid-responsive-extensions-old-ie.styl
 * -------------------------------------
 * This file defines @media query, responsive
 * extensions to the pure-g grid system for old IE
 */


.pure-u-sm-0
	width 0
	display none

.pure-u-sm-block-0
	display none
	width 100%

.pure-u-md-0
	width 0
	display none

.pure-u-md-block-0
	display none
	width 100%

.pure-u-lg-0
	width 0
	display none

.pure-u-lg-block-0
	display none
	width 100%