/* FILE: layout-padding-old-ie.styl
 * --------------------------------
 * This file defines the @media query, responsive
 * extensions for old IE.
 */

$XSMALL_PADDING = 0.5em
$SMALL_PADDING = 1em
$MEDIUM_PADDING = 2em
$LARGE_PADDING = 3em
$XLARGE_PADDING = 4em



/* XSMALL SCREEN QUERIES */
/* --------------------- */

.pad-xs--xsmall
	padding $XSMALL_PADDING

.pad-xs--small
	padding $SMALL_PADDING

.pad-xs--medium
	padding $MEDIUM_PADDING

.pad-xs--large
	padding $LARGE_PADDING

.pad-xs--xlarge
	padding $XLARGE_PADDING


.pad-xs-l--none
	padding-left 0

.pad-xs-l--xsmall
	padding-left $XSMALL_PADDING

.pad-xs-l--small
	padding-left $SMALL_PADDING

.pad-xs-l--medium
	padding-left $MEDIUM_PADDING

.pad-xs-l--large
	padding-left $LARGE_PADDING

.pad-xs-l--xlarge
	padding-left $XLARGE_PADDING


.pad-xs-r--none
	padding-right 0

.pad-xs-r--xsmall
	padding-right $XSMALL_PADDING

.pad-xs-r--small
	padding-right $SMALL_PADDING

.pad-xs-r--medium
	padding-right $MEDIUM_PADDING

.pad-xs-r--large
	padding-right $LARGE_PADDING

.pad-xs-r--xlarge
	padding-right $XLARGE_PADDING



.pad-xs-t--none
	padding-top 0

.pad-xs-t--xsmall
	padding-top $XSMALL_PADDING

.pad-xs-t--small
	padding-top $SMALL_PADDING

.pad-xs-t--medium
	padding-top $MEDIUM_PADDING

.pad-xs-t--large
	padding-top $LARGE_PADDING

.pad-xs-t--xlarge
	padding-top $XLARGE_PADDING



.pad-xs-b--none
	padding-bottom 0

.pad-xs-b--xsmall
	padding-bottom $XSMALL_PADDING

.pad-xs-b--small
	padding-bottom $SMALL_PADDING

.pad-xs-b--medium
	padding-bottom $MEDIUM_PADDING

.pad-xs-b--large
	padding-bottom $LARGE_PADDING

.pad-xs-b--xlarge
	padding-bottom $XLARGE_PADDING






/* SMALL SCREEN QUERIES */
/* -------------------- */

.pad-sm--xsmall
	padding $XSMALL_PADDING

.pad-sm--small
	padding $SMALL_PADDING

.pad-sm--medium
	padding $MEDIUM_PADDING

.pad-sm--large
	padding $LARGE_PADDING

.pad-sm--xlarge
	padding $XLARGE_PADDING


.pad-sm-l--none
	padding-left 0

.pad-sm-l--xsmall
	padding-left $XSMALL_PADDING

.pad-sm-l--small
	padding-left $SMALL_PADDING

.pad-sm-l--medium
	padding-left $MEDIUM_PADDING

.pad-sm-l--large
	padding-left $LARGE_PADDING

.pad-sm-l--xlarge
	padding-left $XLARGE_PADDING


.pad-sm-r--none
	padding-right 0

.pad-sm-r--xsmall
	padding-right $XSMALL_PADDING

.pad-sm-r--small
	padding-right $SMALL_PADDING

.pad-sm-r--medium
	padding-right $MEDIUM_PADDING

.pad-sm-r--large
	padding-right $LARGE_PADDING

.pad-sm-r--xlarge
	padding-right $XLARGE_PADDING



.pad-sm-t--none
	padding-top 0

.pad-sm-t--xsmall
	padding-top $XSMALL_PADDING

.pad-sm-t--small
	padding-top $SMALL_PADDING

.pad-sm-t--medium
	padding-top $MEDIUM_PADDING

.pad-sm-t--large
	padding-top $LARGE_PADDING

.pad-sm-t--xlarge
	padding-top $XLARGE_PADDING



.pad-sm-b--none
	padding-bottom 0

.pad-sm-b--xsmall
	padding-bottom $XSMALL_PADDING

.pad-sm-b--small
	padding-bottom $SMALL_PADDING

.pad-sm-b--medium
	padding-bottom $MEDIUM_PADDING

.pad-sm-b--large
	padding-bottom $LARGE_PADDING

.pad-sm-b--xlarge
	padding-bottom $XLARGE_PADDING







/* MEDIUM SCREEN QUERIES */
/* --------------------- */

.pad-md--xsmall
	padding $XSMALL_PADDING

.pad-md--small
	padding $SMALL_PADDING

.pad-md--medium
	padding $MEDIUM_PADDING

.pad-md--large
	padding $LARGE_PADDING

.pad-md--xlarge
	padding $XLARGE_PADDING


.pad-md-l--none
	padding-left 0

.pad-md-l--xsmall
	padding-left $XSMALL_PADDING

.pad-md-l--small
	padding-left $SMALL_PADDING

.pad-md-l--medium
	padding-left $MEDIUM_PADDING

.pad-md-l--large
	padding-left $LARGE_PADDING

.pad-md-l--xlarge
	padding-left $XLARGE_PADDING


.pad-md-r--none
	padding-right 0

.pad-md-r--xsmall
	padding-right $XSMALL_PADDING

.pad-md-r--small
	padding-right $SMALL_PADDING

.pad-md-r--medium
	padding-right $MEDIUM_PADDING

.pad-md-r--large
	padding-right $LARGE_PADDING

.pad-md-r--xlarge
	padding-right $XLARGE_PADDING



.pad-md-t--none
	padding-top 0

.pad-md-t--xsmall
	padding-top $XSMALL_PADDING

.pad-md-t--small
	padding-top $SMALL_PADDING

.pad-md-t--medium
	padding-top $MEDIUM_PADDING

.pad-md-t--large
	padding-top $LARGE_PADDING

.pad-md-t--xlarge
	padding-top $XLARGE_PADDING



.pad-md-b--none
	padding-bottom 0

.pad-md-b--xsmall
	padding-bottom $XSMALL_PADDING

.pad-md-b--small
	padding-bottom $SMALL_PADDING

.pad-md-b--medium
	padding-bottom $MEDIUM_PADDING

.pad-md-b--large
	padding-bottom $LARGE_PADDING

.pad-md-b--xlarge
	padding-bottom $XLARGE_PADDING




/* LARGE SCREEN QUERIES */
/* -------------------- */

.pad-lg--xsmall
	padding $XSMALL_PADDING

.pad-lg--small
	padding $SMALL_PADDING

.pad-lg--medium
	padding $MEDIUM_PADDING

.pad-lg--large
	padding $LARGE_PADDING

.pad-lg--xlarge
	padding $XLARGE_PADDING


.pad-lg-l--none
	padding-left 0

.pad-lg-l--xsmall
	padding-left $XSMALL_PADDING

.pad-lg-l--small
	padding-left $SMALL_PADDING

.pad-lg-l--medium
	padding-left $MEDIUM_PADDING

.pad-lg-l--large
	padding-left $LARGE_PADDING

.pad-lg-l--xlarge
	padding-left $XLARGE_PADDING


.pad-lg-r--none
	padding-right 0

.pad-lg-r--xsmall
	padding-right $XSMALL_PADDING

.pad-lg-r--small
	padding-right $SMALL_PADDING

.pad-lg-r--medium
	padding-right $MEDIUM_PADDING

.pad-lg-r--large
	padding-right $LARGE_PADDING

.pad-lg-r--xlarge
	padding-right $XLARGE_PADDING



.pad-lg-t--none
	padding-top 0

.pad-lg-t--xsmall
	padding-top $XSMALL_PADDING

.pad-lg-t--small
	padding-top $SMALL_PADDING

.pad-lg-t--medium
	padding-top $MEDIUM_PADDING

.pad-lg-t--large
	padding-top $LARGE_PADDING

.pad-lg-t--xlarge
	padding-top $XLARGE_PADDING



.pad-lg-b--none
	padding-bottom 0

.pad-lg-b--xsmall
	padding-bottom $XSMALL_PADDING

.pad-lg-b--small
	padding-bottom $SMALL_PADDING

.pad-lg-b--medium
	padding-bottom $MEDIUM_PADDING

.pad-lg-b--large
	padding-bottom $LARGE_PADDING

.pad-lg-b--xlarge
	padding-bottom $XLARGE_PADDING