/* FILE: layout-alignment-old-ie.styl
 * ---------------------------------
 * Text and other alignment classes
 */
 */



.align-sm-center
	text-align center

.align-sm-left
	text-align left

.align-sm-right
	text-align right



.align-md-center
	text-align center

.align-md-left
	text-align left

.align-md-right
	text-align right