/* FILE: layout-line-breaks-old-ie.styl
 * ------------------------------------
 * For helping to format Japanese.  Sets
 * the media query styles to be default
 * styles on old IE.
 */


/* SMALL SCREEN QUERY */

.br-show-sm
	br
		display inline

.br-ignore-sm
	br
		display none


/* MEDIUM SCREEN QUERY */

.br-show-md
	br
		display inline

.br-ignore-md
	br
		display none


/* LARGE SCREEN QUERY */

.br-show-lg
	br
		display inline

.br-ignore-lg
	br
		display none